.env
*.db
youtubeAdsSkipper
pass.txt
manifest.json
*.zip
*.env
node_module/
.idea/
chromeExtension/node_modules/
chrome-test-profile-doNotTouch/
server.log
node_modules/
screenshot/
.vscode/
client_secret_438775691418-tu4t4bne8hqqthg5shhn3si6q8lj2tvv.apps.googleusercontent.com.json
client_secret.json
token.json
